<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    # bootstrap -----
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <style>
        th { text-align: center; }
        div.restaurants {
            text-align: center;
            padding: 40px 15px;
        }
    </style>
    # ---------------
</head>
{% load staticfiles %}
<body>
    # bootstrap -----
    <nav class="navbar navbar-inverse navbar-fixed-top"
         role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="'icon-bar"></span>
                    <span class="'icon-bar"></span>
                    <span class="'icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mysite</a>
            </div>
        </div>
    </nav>
    # ---------------
    <div class="container">
        <div class="restaurants">
            <h2>餐廳列表</h2>

        <p><img src="{% static 'img/logo.jpg' %}"></p>
            <!--方法23不要此行--> <form action="/menu/" method="get">
                <table class="table">
                    <tr>
                        <th>選取</th>
                        <th>店名</th>
                        <th>電話</th>
                        <th>地址</th>
                        {% if perms.restaurants.can_comment %}
                        <th>評價</th>
                        {% endif %}
                    </tr>
                    {% for r in restaurants %}
                        <tr>
                            <!--方法1--> <td><input type="radio" name="id" value="{{ r.id }}"></td>
                            <!--方法2  <td><a href="/menu/?id={{ r.id }}"> menu </a></td> -->
                            <!--方法3  <td><a href="/menu/{{ r.id }}/"> menu </a></td>-->
                            <td>{{ r.name }}</td>
                            <td>{{ r.phone_number }}</td>
                            <td>{{ r.address }}</td>
                            {% if perms.restaurants.can_comment %}
                            <td><a href="/comment/{{ r.id }}"> 評論 </a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            <input type="submit" value="觀看 menu">
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>